/*بسم الله الرحمن الرحيم*/
/*la ilaha illa Allah mohammed rassoul Allah*/

window
{
    font-weight: bold;
    font-size: 18px;

    color: white;
    background-color: black;
    background: transparent;
}

#entry
{
    /* background: linear-gradient(90deg, rgba(100, 0, 100, 0.5), rgba(100, 100, 100, 0.1)); */
    background: rgb(20, 20, 20);
    color: grey;
}

#entry:selected
{
    background-color: lightblue;
    background: grey;
    color: black;
}

#text:selected
{
    color: white;
}

#input
{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
}

